<form>
  <div class="form-group row">
    <label for="jsonfile">Roll Table File:</label>
    <div class="form-fields row">
      <file-picker type="text" name="jsonfile" placeholder="path/file.{json/csv/txt}" value="{{object.jsonfile}}" />
    </div>
  </div>
  <div class="form-group textentry" overflow="scroll">
    <textarea id="clipboardInput" name="clipboardInput" rows="15" cols="50"
      placeholder="Use File Picker icon above or paste text, json or CSV into this textarea..."></textarea>
  </div>
  <div>
    <button type="submit" name="submit" value="submit">Okay</button>
  </div>
</form>