/* ------------------------------------ */
/*                 CSS                  */
/*         Add your styles here         */
/* ------------------------------------ */
.form-group {
  resize: both;
  overflow: auto;
  color: white;
}

.form-fields {
  resize: both;
  overflow: auto;
  color: white;
}

.form {
  resize: both;
  overflow: auto;
  color: white;
}
